<div class="questionnaire">
  <p-toast position="top-right" key="res-toaster"></p-toast>

  <div class="quiz-header">
    <div>Strikes: {{strikes}} / 3</div>
    <div>Time left: {{timeLeft}}</div>
    <div>Question: {{page + 1}} / {{(questionsList$| async)?.length}}</div>
  </div>

  <p-carousel
    class="quiz-questions"
    [value]="questionsList$ | async"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="false"
    (onPage)="onPage($event)"
    [page]="page"
    [autoplayInterval]="autoplayInterval"
    [showNavigators]="false"
    [showIndicators]="false">
    <ng-template let-question pTemplate="item">
      <div class="question-item">
        <h4 class="p-mb-1">{{question?.question}}</h4>
        <div class="question-item-answers">
          <p-card *ngFor="let ans of question?.answers"
                  (click)="checkAnswer(ans)"
                  [style]="{'width': '200px', 'height':'100px', 'margin': '10px'}">
            {{ans.text}}
          </p-card>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

